<%- include('header')%>
<link rel="stylesheet" href="/stylesheets/dashboard.css">

    <%- include('nav')%>

        <div class="main">
            <div class="top">
                <div class="totalbox">
                    <h3>Your total expense is</h3>
                    <h1><%= expenses.reduce((ac,cv)=> ac+cv.amount, 0)%></h1>
                </div>

                <!-- <div class="items">
                    <div class="cards food"> <img src="/images/food.jpg" alt=""> 
                        <h1><%= expenses.reduce((ac,cv)=> ac+cv.amount, 0)%></h1>
                        </div>
                    <div class="cards transport"><img src="/images/transport.jpg" alt="">
                        <h1>5000</h1>
                    </div>
                    <div class="cards personal"><img src="/images/personal.jpg" alt="">
                    <h1>6000</h1>
                    </div>
                    <div class="cards healthcare "><img src="/images/health.jpg" alt="">
                    <h1>2000</h1></div>
                </div> -->

            </div>
            <div class="bottom">
                <div class="btop">
                    <a href="/addexpense"><h1>Add Expenses</h1></a>
                    <div class="filter">
                        <form action="/filter" >
                            <select name="key" id="">
                                <option value="amount">Amount</option>
                        <option value="remark">Remark</option>
                        <option value="category">Category</option>
                        <option value="paymentmode">Payment Mode</option>
                        <option value="date">Date</option>
                            </select>
                             <input type="text" name="value" placeholder="enter search term" />
                    <button>Filter</button>
                        </form>
                    </div>
                </div>

                <div class="bbottom">
                    <table >
                        <tr>
                            <td><h1>Amount</h1></td>
                            <td><h1>Remark</h1></td>
                            <td><h1>Category</h1></td>
                            <td><h1>Payment Mode</h1></td>
                            <td><h1>Date</h1></td>
                            <td><h1>Update - Delete</h1></td>
                        </tr>
                                    <% expenses.forEach(function(e){ %>

                                    <tr>
                                        <td><h1><%= e.amount%></h1></td>
                                        <td><h1><%= e.remark%></h1></td>
                                        <td><h1> <%= e.category%></h1></td>
                                        <td><h1><%= e.paymentmode%></h1></td>
                                        <td><h1><%= e.date%></h1></td>
                                        <td><div class="buton">
                                            <a href="/update/<%= e._id%>">Update</a>
                                            <a href="/delete/<%= e._id%>">Delete</a>
                                        </div></td>
                                    </tr>
                                    
                                    <%})%>
                                </table>
                                </div>

            </div>
        </div>
        <%- include('footer')%>